h1 {
    font-size: 40px;
    font-family: Arial;
}

h2 {
    font-size: 25px;
    font-family: Arial;
}

h3 {
    font-family: Arial;
}

p {
    font-size: 14px;
    font-family: Arial;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    font-weight: bold;
}